<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>サンプルHTML</title>
<!-- meta and other definition -->
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="start" href="/">
<link rel="index" href="/" title="">
<meta http-equiv="imagetoolbar" content="no">
<meta name="viewport" content="width=1020px,user-scalable=yes">
<!-- CSS definition -->
<link rel="stylesheet" href="/kanazawa_walk_main/css/yui/reset-min.css">
<link rel="stylesheet" href="/kanazawa_walk_main/css/yui/base-min.css">
<link rel="stylesheet" href="/kanazawa_walk_main/css/yui/fonts-min.css">
<link rel="stylesheet" href="/kanazawa_walk_main/css/top_contents.css">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

<p>{{.sampleText}}</p>

</body>
</html>

